body{
  background-color: black;
}
h1{
text-align:center;
font-family: "Lucida Console", Monaco;
color:#ff99cc;
letter-spacing: 0.1em;
}

div.heading{
  font-family: 'Londrina Shadow', cursive;
  color:rgb(123,199,120);
  font-size:15px;
  text-align:left;
  
}

ul{
  font-family: 'ER Bukinist',fantasy;
  text-align: left;
  font-size: 18px;
  color: white;
}

img{
  display:inline;
  height:170px;
  width:170px;
  margin-left: 130px;
  border-radius:60px;
  box-shadow: 0 0 10px #998777;
}

a{
  color:blue;
  font-family:serif;
  display:block;
  font-size:17px;
  line-height: 0.1em;
  letter-spacing: 0 em;
}

a:hover{
  color:red;
}
